*{
    margin: 0;
    padding: 0;

}

.main-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}
#myvideo{
    position: fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;

}

input{
    width: 40%;
    height: 2.5rem;
    border: none;
    border-radius: 15px;

}


.input-a{
   padding-top: 10%;
}


.btn-one{
    padding: 8px 35px;
    border: none;
    background-color: navy;
    color: azure;
    border-radius: 5px;
}



/* Responsive behavior for smaller screens */
@media (max-width: 768px) {
    input {
      width: 70%;
      font-size: 14px;
    }

    .input-a{
        padding-top: 20%;
     }

  }
  

  @media (max-width: 480px) {
    input {
      width: 80%;
      font-size: 12px;
      
    }
    .input-a{
        padding-top: 20%;
     }
     

  }
